
@page "/editarGrado/{Id}"
@using BlazorAcademico.Shared
@inject HttpClient http;
<h1>Editar</h1>

<FormularioGrados gradoCls=gradoCls />

@code {
    [Parameter]
    public string Id { get; set; }

    public GradoCls gradoCls = new GradoCls();
    protected async override Task OnParametersSetAsync()
    {
        gradoCls = await http.GetFromJsonAsync<GradoCls>("api/Grado/obtenerGrado/" + Id);
    }
}